/* Tablets */

@media(max-width:900px){


.nav-links{

display:none;

}


.menu{

display:block;
font-size:30px;
cursor:pointer;

}


.hero h1{

font-size:42px;

}


.hero p{

font-size:17px;

}


.stem-cards,
.program-container,
.numbers{

flex-direction:column;
align-items:center;

}



.card,
.program-card{

width:90%;

}



}



/* Phones */

@media(max-width:600px){


.navbar{

padding:15px 5%;

}


.logo{

font-size:18px;

}



.hero{

padding:0 5%;

}


.hero h1{

font-size:34px;

}



section{

padding:60px 5%;

}



h2{

font-size:30px;

}


}
